#resultado{
	background-color: #e5e5e5;
	border			: 1px solid #000;
	width			: 150px;
	padding			: 0;
	margin			: 0;
	position		: relative;
	margin-left		: 45px;
	margin-top		: 0;	
}

#resultado p{
	line-height		: 15px;
	margin			: 0;
	font			: 18px;
	padding			: 5px;
}

#resultado p:hover{
	background-color: #cdcdcd;
	cursor			: pointer;
}